In [1]:
import pandas as pd

df = pd.read_csv("insurance.csv")
df.describe(),df.isnull().sum(),df.corr()

(               age          bmi     children       charges
 count  1338.000000  1338.000000  1338.000000   1338.000000
 mean     39.207025    30.663397     1.094918  13270.422265
 std      14.049960     6.098187     1.205493  12110.011237
 min      18.000000    15.960000     0.000000   1121.873900
 25%      27.000000    26.296250     0.000000   4740.287150
 50%      39.000000    30.400000     1.000000   9382.033000
 75%      51.000000    34.693750     2.000000  16639.912515
 max      64.000000    53.130000     5.000000  63770.428010,
 age         0
 sex         0
 bmi         0
 children    0
 smoker      0
 region      0
 charges     0
 dtype: int64,
                age       bmi  children   charges
 age       1.000000  0.109272  0.042469  0.299008
 bmi       0.109272  1.000000  0.012759  0.198341
 children  0.042469  0.012759  1.000000  0.067998
 charges   0.299008  0.198341  0.067998  1.000000)

In [2]:
df['sex'].replace({'male':1,'female':2},inplace=True)
df['smoker'].replace({'yes':1,'no':0},inplace=True)
df.drop(['region'],axis=1,inplace=True)
df

      age  sex     bmi  children  smoker      charges
0      19    2  27.900         0       1  16884.92400
1      18    1  33.770         1       0   1725.55230
2      28    1  33.000         3       0   4449.46200
3      33    1  22.705         0       0  21984.47061
4      32    1  28.880         0       0   3866.85520
...   ...  ...     ...       ...     ...          ...
1333   50    1  30.970         3       0  10600.54830
1334   18    2  31.920         0       0   2205.98080
1335   18    2  36.850         0       0   1629.83350
1336   21    2  25.800         0       0   2007.94500
1337   61    2  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [3]:
df.corr()

               age       sex       bmi  children    smoker   charges
age       1.000000  0.020856  0.109272  0.042469 -0.025019  0.299008
sex       0.020856  1.000000 -0.046371 -0.017163 -0.076185 -0.057292
bmi       0.109272 -0.046371  1.000000  0.012759  0.003750  0.198341
children  0.042469 -0.017163  0.012759  1.000000  0.007673  0.067998
smoker   -0.025019 -0.076185  0.003750  0.007673  1.000000  0.787251
charges   0.299008 -0.057292  0.198341  0.067998  0.787251  1.000000

In [4]:
features = df.iloc[:,0:-1]
labels = df.iloc[:,-1]
features,labels

(      age  sex     bmi  children  smoker
 0      19    2  27.900         0       1
 1      18    1  33.770         1       0
 2      28    1  33.000         3       0
 3      33    1  22.705         0       0
 4      32    1  28.880         0       0
 ...   ...  ...     ...       ...     ...
 1333   50    1  30.970         3       0
 1334   18    2  31.920         0       0
 1335   18    2  36.850         0       0
 1336   21    2  25.800         0       0
 1337   61    2  29.070         0       1

 [1338 rows x 5 columns],
 0       16884.92400
 1        1725.55230
 2        4449.46200
 3       21984.47061
 4        3866.85520
            ...
 1333    10600.54830
 1334     2205.98080
 1335     1629.83350
 1336     2007.94500
 1337    29141.36030
 Name: charges, Length: 1338, dtype: float64)

In [5]:
import numpy
features = numpy.array(features,dtype=numpy.float32)
labels = numpy.array(labels,dtype=numpy.float32)
features,labels

(array([[19.  ,  2.  , 27.9 ,  0.  ,  1.  ],
        [18.  ,  1.  , 33.77,  1.  ,  0.  ],
        [28.  ,  1.  , 33.  ,  3.  ,  0.  ],
        ...,
        [18.  ,  2.  , 36.85,  0.  ,  0.  ],
        [21.  ,  2.  , 25.8 ,  0.  ,  0.  ],
        [61.  ,  2.  , 29.07,  0.  ,  1.  ]], dtype=float32),
 array([16884.924 ,  1725.5522,  4449.462 , ...,  1629.8335,  2007.945 ,
        29141.36  ], dtype=float32))

In [6]:
import torch
import torch.nn as nn
import torch.optim
import torch.utils.data

class container(torch.utils.data.Dataset):
    def __init__(self,features,labels):
        self.X =torch.from_numpy(features).cuda()
        self.Y =torch.from_numpy(labels).reshape(-1,1).cuda()
    def __getitem__(self,index):
        return self.X[index],self.Y[index]
    def __len__(self):
        return len(self.Y)

In [7]:
set = container(features,labels)

In [8]:
iterator = torch.utils.data.DataLoader(dataset=set,batch_size=128,shuffle=True,drop_last=True)

In [9]:
next(iter(iterator))

[tensor([[47.0000,  2.0000, 29.3700,  1.0000,  0.0000],
         [51.0000,  1.0000, 35.9700,  1.0000,  0.0000],
         [38.0000,  1.0000, 28.0250,  1.0000,  0.0000],
         [50.0000,  1.0000, 37.0700,  1.0000,  0.0000],
         [28.0000,  2.0000, 24.3200,  1.0000,  0.0000],
         [30.0000,  2.0000, 27.7000,  0.0000,  0.0000],
         [54.0000,  2.0000, 30.8000,  3.0000,  0.0000],
         [48.0000,  2.0000, 33.1100,  0.0000,  1.0000],
         [18.0000,  1.0000, 26.1800,  2.0000,  0.0000],
         [27.0000,  1.0000, 26.0300,  0.0000,  0.0000],
         [60.0000,  2.0000, 18.3350,  0.0000,  0.0000],
         [60.0000,  2.0000, 35.1000,  0.0000,  0.0000],
         [49.0000,  1.0000, 28.7000,  1.0000,  0.0000],
         [21.0000,  2.0000, 22.1350,  0.0000,  0.0000],
         [23.0000,  2.0000, 28.1200,  0.0000,  0.0000],
         [50.0000,  1.0000, 27.4550,  1.0000,  0.0000],
         [37.0000,  1.0000, 22.7050,  3.0000,  0.0000],
         [35.0000,  1.0000, 27.6100,  1.0000,  0.0000],
         [19.0000,  2.0000, 30.5900,  2.0000,  0.0000],
         [51.0000,  1.0000, 31.6350,  0.0000,  0.0000],
         [29.0000,  2.0000, 26.0300,  0.0000,  0.0000],
         [60.0000,  1.0000, 29.6400,  0.0000,  0.0000],
         [48.0000,  1.0000, 30.7800,  3.0000,  0.0000],
         [41.0000,  2.0000, 31.6000,  0.0000,  0.0000],
         [58.0000,  2.0000, 41.9100,  0.0000,  0.0000],
         [40.0000,  1.0000, 29.9000,  2.0000,  0.0000],
         [50.0000,  1.0000, 31.8250,  0.0000,  1.0000],
         [19.0000,  1.0000, 44.8800,  0.0000,  1.0000],
         [23.0000,  1.0000, 34.4000,  0.0000,  0.0000],
         [48.0000,  1.0000, 28.0000,  1.0000,  1.0000],
         [41.0000,  2.0000, 32.9650,  0.0000,  0.0000],
         [20.0000,  1.0000, 33.0000,  1.0000,  0.0000],
         [58.0000,  2.0000, 33.1000,  0.0000,  0.0000],
         [61.0000,  1.0000, 32.3000,  2.0000,  0.0000],
         [56.0000,  1.0000, 19.9500,  0.0000,  1.0000],
         [35.0000,  1.0000, 36.6700,  1.0000,  1.0000],
         [57.0000,  1.0000, 40.9450,  0.0000,  0.0000],
         [61.0000,  2.0000, 21.0900,  0.0000,  0.0000],
         [24.0000,  1.0000, 25.8000,  0.0000,  0.0000],
         [21.0000,  1.0000, 35.5300,  0.0000,  0.0000],
         [20.0000,  2.0000, 33.3000,  0.0000,  0.0000],
         [51.0000,  2.0000, 21.5600,  1.0000,  0.0000],
         [46.0000,  2.0000, 33.4400,  1.0000,  0.0000],
         [62.0000,  1.0000, 38.8300,  0.0000,  0.0000],
         [32.0000,  1.0000, 37.3350,  1.0000,  0.0000],
         [35.0000,  1.0000, 34.3200,  3.0000,  0.0000],
         [31.0000,  1.0000, 20.4000,  0.0000,  0.0000],
         [24.0000,  1.0000, 32.7000,  0.0000,  1.0000],
         [25.0000,  2.0000, 32.2300,  1.0000,  0.0000],
         [18.0000,  2.0000, 24.0900,  1.0000,  0.0000],
         [27.0000,  2.0000, 31.4000,  0.0000,  1.0000],
         [33.0000,  2.0000, 24.3100,  0.0000,  0.0000],
         [62.0000,  2.0000, 30.4950,  2.0000,  0.0000],
         [56.0000,  1.0000, 26.6950,  1.0000,  1.0000],
         [46.0000,  1.0000, 22.3000,  0.0000,  0.0000],
         [22.0000,  1.0000, 37.6200,  1.0000,  1.0000],
         [24.0000,  2.0000, 26.6000,  0.0000,  0.0000],
         [47.0000,  2.0000, 36.6300,  1.0000,  1.0000],
         [41.0000,  2.0000, 36.0800,  1.0000,  0.0000],
         [38.0000,  2.0000, 37.7300,  0.0000,  0.0000],
         [58.0000,  1.0000, 28.5950,  0.0000,  0.0000],
         [23.0000,  2.0000, 23.1800,  2.0000,  0.0000],
         [62.0000,  2.0000, 36.8600,  1.0000,  0.0000],
         [28.0000,  2.0000, 33.0000,  2.0000,  0.0000],
         [60.0000,  1.0000, 28.9000,  0.0000,  0.0000],
         [36.0000,  2.0000, 27.7400,  0.0000,  0.0000],
         [30.0000,  1.0000, 24.1300,  1.0000,  0.0000],
         [41.0000,  1.0000, 30.5900,  2.0000,  0.0000],
         [18.0000,  2.0000, 36.8500,  0.0000,  1.0000],
         [28.0000,  2.0000, 25.8000,  0.0000,  0.0000],
         [64.0000,  1.0000, 23.7600,  0.0000,  1.0000],
         [53.0000,  2.0000, 37.4300,  1.0000,  0.0000],
         [56.0000,  1.0000, 25.9350,  0.0000,  0.0000],
         [23.0000,  1.0000, 27.3600,  1.0000,  0.0000],
         [40.0000,  2.0000, 22.2200,  2.0000,  1.0000],
         [39.0000,  2.0000, 26.3150,  2.0000,  0.0000],
         [30.0000,  2.0000, 32.4000,  1.0000,  0.0000],
         [38.0000,  2.0000, 27.2650,  1.0000,  0.0000],
         [32.0000,  1.0000, 31.5000,  1.0000,  0.0000],
         [62.0000,  1.0000, 39.9300,  0.0000,  0.0000],
         [48.0000,  1.0000, 34.3000,  3.0000,  0.0000],
         [29.0000,  1.0000, 32.1100,  2.0000,  0.0000],
         [33.0000,  2.0000, 38.9000,  3.0000,  0.0000],
         [63.0000,  1.0000, 36.7650,  0.0000,  0.0000],
         [48.0000,  1.0000, 36.6700,  1.0000,  0.0000],
         [52.0000,  2.0000, 25.3000,  2.0000,  1.0000],
         [49.0000,  1.0000, 31.3500,  1.0000,  0.0000],
         [28.0000,  1.0000, 35.4350,  0.0000,  0.0000],
         [33.0000,  1.0000, 24.7950,  0.0000,  1.0000],
         [46.0000,  2.0000, 30.8000,  3.0000,  0.0000],
         [58.0000,  1.0000, 35.7000,  0.0000,  0.0000],
         [27.0000,  1.0000, 18.9050,  3.0000,  0.0000],
         [45.0000,  2.0000, 35.3000,  0.0000,  0.0000],
         [19.0000,  2.0000, 28.4000,  1.0000,  0.0000],
         [51.0000,  2.0000, 34.1000,  0.0000,  0.0000],
         [59.0000,  1.0000, 27.5000,  1.0000,  0.0000],
         [18.0000,  2.0000, 40.1850,  0.0000,  0.0000],
         [49.0000,  2.0000, 23.1800,  2.0000,  0.0000],
         [42.0000,  2.0000, 25.3000,  1.0000,  0.0000],
         [20.0000,  1.0000, 30.6850,  0.0000,  1.0000],
         [25.0000,  1.0000, 25.7400,  0.0000,  0.0000],
         [21.0000,  1.0000, 36.8600,  0.0000,  0.0000],
         [55.0000,  2.0000, 29.7000,  2.0000,  0.0000],
         [29.0000,  1.0000, 22.8950,  0.0000,  1.0000],
         [18.0000,  1.0000, 17.2900,  2.0000,  1.0000],
         [19.0000,  1.0000, 25.5550,  0.0000,  0.0000],
         [20.0000,  2.0000, 31.4600,  0.0000,  0.0000],
         [32.0000,  2.0000, 44.2200,  0.0000,  0.0000],
         [33.0000,  2.0000, 35.5300,  0.0000,  1.0000],
         [35.0000,  1.0000, 34.7700,  2.0000,  0.0000],
         [56.0000,  2.0000, 41.9100,  0.0000,  0.0000],
         [58.0000,  2.0000, 22.7700,  0.0000,  0.0000],
         [55.0000,  2.0000, 40.8100,  3.0000,  0.0000],
         [52.0000,  1.0000, 38.6000,  2.0000,  0.0000],
         [41.0000,  2.0000, 28.3100,  1.0000,  0.0000],
         [25.0000,  2.0000, 28.5950,  0.0000,  0.0000],
         [42.0000,  2.0000, 29.4800,  2.0000,  0.0000],
         [18.0000,  2.0000, 33.8800,  0.0000,  0.0000],
         [34.0000,  1.0000, 35.8150,  0.0000,  0.0000],
         [51.0000,  1.0000, 42.9000,  2.0000,  1.0000],
         [18.0000,  1.0000, 37.2900,  0.0000,  0.0000],
         [19.0000,  1.0000, 19.8000,  0.0000,  0.0000],
         [26.0000,  2.0000, 29.9200,  2.0000,  0.0000],
         [48.0000,  2.0000, 36.5750,  0.0000,  0.0000],
         [49.0000,  1.0000, 28.6900,  3.0000,  0.0000],
         [50.0000,  2.0000, 27.6000,  1.0000,  1.0000],
         [41.0000,  1.0000, 37.0500,  2.0000,  0.0000],
         [35.0000,  2.0000, 35.8600,  2.0000,  0.0000]], device='cuda:0'),
 tensor([[ 8547.6914],
         [ 9386.1611],
         [ 6067.1270],
         [ 9048.0273],
         [23288.9277],
         [ 3554.2029],
         [12105.3203],
         [40974.1641],
         [ 2304.0022],
         [ 3070.8086],
         [13204.2861],
         [12644.5889],
         [ 8703.4561],
         [ 2585.8506],
         [ 2690.1138],
         [ 9617.6621],
         [ 6985.5068],
         [ 4747.0527],
         [24059.6797],
         [ 9174.1357],
         [ 3736.4646],
         [12731.0000],
         [10141.1357],
         [ 6186.1270],
         [24227.3379],
         [ 6600.3608],
         [41097.1602],
         [39722.7461],
         [ 1826.8430],
         [23568.2715],
         [ 6571.0244],
         [ 1980.0699],
         [11848.1406],
         [14119.6201],
         [22412.6484],
         [39774.2773],
         [11566.3008],
         [13415.0381],
         [ 1972.9500],
         [ 1532.4697],
         [ 1880.4871],
         [ 9855.1318],
         [ 8240.5898],
         [12981.3457],
         [ 4667.6074],
         [ 5934.3799],
         [ 3260.1990],
         [34472.8398],
         [18218.1621],
         [ 2201.0972],
         [34838.8711],
         [ 4185.0977],
         [15019.7598],
         [26109.3281],
         [ 7147.1050],
         [37165.1641],
         [ 3046.0620],
         [42969.8516],
         [ 6781.3540],
         [ 5397.6167],
         [11735.8789],
         [14426.0742],
         [31620.0020],
         [ 4349.4619],
         [12146.9707],
         [ 5469.0068],
         [ 4032.2407],
         [ 7256.7231],
         [36149.4844],
         [ 3161.4541],
         [26926.5137],
         [10959.6943],
         [11165.4180],
         [ 2789.0574],
         [19444.2656],
         [ 7201.7007],
         [ 4149.7358],
         [ 6555.0703],
         [ 4076.4971],
         [12982.8750],
         [ 9563.0293],
         [ 4433.9160],
         [ 5972.3779],
         [13981.8506],
         [28468.9199],
         [24667.4199],
         [ 9290.1396],
         [ 3268.8467],
         [17904.5273],
         [ 9414.9199],
         [11362.7549],
         [ 4827.9048],
         [ 7348.1421],
         [ 2331.5190],
         [ 9283.5615],
         [12333.8281],
         [ 2217.4692],
         [10156.7832],
         [ 7045.4990],
         [33475.8164],
         [ 2137.6536],
         [ 1917.3184],
         [11881.3584],
         [16138.7617],
         [12829.4551],
         [ 1632.5645],
         [ 1877.9294],
         [ 3994.1777],
         [55135.4023],
         [ 5729.0054],
         [11093.6230],
         [11833.7822],
         [12485.8008],
         [10325.2061],
         [ 7153.5537],
         [ 3213.6221],
         [ 7640.3091],
         [11482.6348],
         [ 4320.4106],
         [47462.8945],
         [ 1141.4451],
         [ 1241.5649],
         [ 3981.9768],
         [ 8671.1914],
         [10264.4424],
         [24520.2637],
         [ 7265.7026],
         [ 5836.5205]], device='cuda:0')]

In [10]:
F1 = torch.from_numpy(features).cuda()
L1 = torch.from_numpy(labels).reshape(-1,1).cuda()

In [11]:
Net = nn.Sequential(nn.Linear(5,1,device='cuda:0'))
nn.init.normal_(Net[0].weight,std=0.02)
optimzer = torch.optim.SGD(Net.parameters(),lr=0.0412/128)
l = nn.MSELoss()
epochs = 50
for epoch in range(epochs):
    for X in iterator:
        loss =l(Net(X[0]),X[1])
        optimzer.zero_grad()
        loss.backward()
        optimzer.step()
    with torch.no_grad():
        print(f'epoch:{epoch+1},loss:{l(Net(F1),L1).mean()}')

epoch:1,loss:138568704.0
epoch:2,loss:171047264.0
epoch:3,loss:132064296.0
epoch:4,loss:132727520.0
epoch:5,loss:129716856.0
epoch:6,loss:134967840.0
epoch:7,loss:144206016.0
epoch:8,loss:129508000.0
epoch:9,loss:129114000.0
epoch:10,loss:128927352.0
epoch:11,loss:130349992.0
epoch:12,loss:128339752.0
epoch:13,loss:132675720.0
epoch:14,loss:133651440.0
epoch:15,loss:133524936.0
epoch:16,loss:128982584.0
epoch:17,loss:130405328.0
epoch:18,loss:130988032.0
epoch:19,loss:138345120.0
epoch:20,loss:142865952.0
epoch:21,loss:126775520.0
epoch:22,loss:127534648.0
epoch:23,loss:126684920.0
epoch:24,loss:129648576.0
epoch:25,loss:127240544.0
epoch:26,loss:135500704.0
epoch:27,loss:125485864.0
epoch:28,loss:130075616.0
epoch:29,loss:126301632.0
epoch:30,loss:127878736.0
epoch:31,loss:129471928.0
epoch:32,loss:127898000.0
epoch:33,loss:129392504.0
epoch:34,loss:127909688.0
epoch:35,loss:124516576.0
epoch:36,loss:140512080.0
epoch:37,loss:125463088.0
epoch:38,loss:123449304.0
epoch:39,loss:145249040.0
epoch:40,loss:123532944.0
epoch:41,loss:125283896.0
epoch:42,loss:139052992.0
epoch:43,loss:123019408.0
epoch:44,loss:124871280.0
epoch:45,loss:136233792.0
epoch:46,loss:159473632.0
epoch:47,loss:121896616.0
epoch:48,loss:121829528.0
epoch:49,loss:124455032.0
epoch:50,loss:121846192.0